@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.maateen.me/kalpurush/font.css'); */
/* 
@font-face {
         font-family: kalpurush;
         src: url('../public/fonts/kalpurush/Kalpurush.ttf');
} */


body{
   margin: 0;
   padding: 0;
   font-family: 'Kalpurush', Arial, sans-serif !important;
   overflow-x: hidden;
}


.theme_h1{
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 50px;
   /* letter-spacing: 5px; */
   color: #000000;
}
.theme_h1_green{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* letter-spacing: 5px; */
  color: #348739;
}

.theme_h2_green{

font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

color: #348739;
}
.theme_h2{
 
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  /* letter-spacing: 0.1em; */
  
  color: #000000;
}



.theme_h3{
  
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* letter-spacing: 0.1em; */

color: #000000;
}


.about_h1_green{
  
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;
color: #348739;

}

.about_h2{
  
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  /* letter-spacing: 0.05em; */
  
  color: #000000;
}



















p{
   font-size: small;
}
section{
   margin: 0 auto;
}


.icon-style {
   display: flex;
   
 }

 .full_icon {
   font-size: 13px;
   color: orange;
 }

 .null_icon {
   font-size: 15px;
   color: orange;
   
 }
 

















/* page 1 css */
.title{
   color: #0094E7;
   margin-bottom: 20px;
}

.searchbox{
   position: relative;
   color: rgb(92, 92, 92);
   width: 40vw;
   max-width: 40vw;
   margin: 0 auto;
}
.searchbox input{
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #E4E4E4;
  outline-color:rgb(223, 223, 223);
  padding: 9px;
}
.searchicon{
   position: absolute;
   top: 0;
   right: 0;
   padding: 5px 12px;
   color: #9E9E9E;
}

.box-container{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   gap:5px;
   -webkit-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
           justify-content: space-evenly;
   width: 100%;
   margin: 0 auto;
   margin-top: 30px;
}


.gridbox{
   width: 32%;
   display: flex;
   background-color: rgba(255, 255, 255, 0.8);
   border: 1px solid rgba(177, 177, 177, 0.671);
   padding: 10px 15px;
   font-size: 24px;
   font-weight: 600;
   
   text-align: center;
   color: rgb(20, 20, 20);
   justify-content: center;
   transition: 0.5s;
}

.gridbox img{
   margin-top: 50%;
   margin-bottom: 50%;
}

.gridbox:hover{
   transition: 0.5s;
   background-image: linear-gradient(to right, rgba(161, 228, 240, 0.267) , rgba(243, 243, 243, 0.384));
   transition: width 5s ease-in-out;
}
.gridimg,.griddetails{
   padding: 5px;
}


.griddetails{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
}
.gridfont{
   font-weight: 600;
   font-size: large;
}
.gridfoter{
   display: flex;
   line-height: 15px;
   font-size: small;
   justify-content: center;
   color: rgb(107, 107, 107);
   margin-top: 20px;
}

.loadmore{
   margin: 0 auto;
   
}
.loadmore button,.submitbtn button{
   font-weight: 600;
   border: 1px solid rgb(161 215 251);
   border-radius: 5px;
   padding: 5px 17px;
   color: #0094E7;
   font-size: 15px;
   margin: 0px;
}
.loadmore button{
   margin: 15px;
}







/* ////contact section */
.contact{
   background-image: url("../public/images/contackbg.png");
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 500px;
}
.contact2{
   background-image: url("../public/images/contact2.png");
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 500px;
}

.contackform{
   width: 65%;
   height: 300px;
   background-color: #fff;
   padding: 35px;
   height: max-content;
}

.inputbox{
   display: flex;
   width: 100%;
   justify-content: space-between;
   font-weight: bold;
   color: rgb(26, 25, 25);

}
.inputbox input,.inputbox textarea{
   width: 65%;
   padding: 5px;
   border-radius: 3px;
   border: 1px solid rgb(190, 190, 190);
}
.inputbox textarea{
   width: 65%;
   padding: 10px;
   height: 100px;
}

.submitbtn{
   text-align: right;
   width: 100%;
}

.validation span{
   color: red;
}
.validation{
   text-align: right;
   font-size: 12px;
}
























/* page 4 */
 
.toggle_bar{
   margin-bottom: 10px;
}

.toggle_bar ul{
   width: 80%;
   margin: 0 auto;
   text-align: center;

}

.toggle_bar ul li{
   display: inline-block;
   padding: 10px 40px;
   text-align: center;
   cursor: pointer;
}

.active-tabs{
   background-color: #0094E7;
   color: #fff;
}


.accordion-button:not(.collapsed) {
   background-color: #0094E7!important;
   color: #fff!important;
}



/* accodion */
.accgridbox{
   width:92%;
   margin:0 auto;
   display: flex;
}

.accodion{
   width: 68%;
   text-align: center;
   margin-right: auto;
}
.left_grid{
   width: 30%;
}
.left_grid  img{
   width: 100%;
}
.displaynone{
   display: none!important;
}



/* //.con_carosel */
.con_carosel{
   width: 60%;
   margin: 0 auto;
   margin-top: 40px;
   margin-bottom: 40px;

}

.con_carosel .item img{
   width: 60%!important;
}

.con_carosel .item{
   box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10% 10%;
width: 70%;
height: 200px!important;
background: #FFFFFF;
border: 1px solid #C5C5C5;
border-radius: 5px;
}



.owl-carousel .owl-prev{
       position: absolute;
       top: 35%; 
       font-size: 40px!important;
      color: rgb(122, 122, 122);
      left: -70px;
      line-height: 55px!important;
}

.owl-carousel .owl-next{
   position: absolute;
   top: 35%; 
   font-size: 40px!important;
   color: rgb(90, 90, 90);
   right: -70px;
   line-height: 55px!important;
}

.con_carosel .owl-carousel .owl-prev span,.con_carosel .owl-carousel .owl-next span{
  display: block;
  background: #0092e754;
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}


.image_box_container{
   width: 100%;
   margin: 0 auto;
}

.image_box {
   width: 100%;
   margin: 5px;
   /* border-radius: .5rem; */
   overflow: hidden;
   position: relative;
   -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
           box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
   border: 0.1rem solid rgba(0, 0, 0, 0.3);
   position: relative;
 }

 .image_box h1{
   position: absolute;
   color: #fff;
   top:40%;
   left: 6px;
   word-wrap: break-word;
   font-weight: bold;
    z-index: 1;
 }

 .image_box img{
   height: 100%;
   width: 100%;
   -o-object-fit: cover;
      object-fit: cover;
      z-index: 2;
 }

 .image_box:hover img {

   -webkit-transform: scale(1.5);
           transform: scale(1.5);
     transition: 1s;      
     z-index: 2;
 }
  
 .filterimage img{
  height: 150px;
 }
.single_img img{
  width: 200px;
  height: 200px;
 }






 /* ////////////////slider section/////////////// */

 .owl-item{
   width: 100%;
   height: auto;
   overflow: hidden!important;

 }


 .owl-dots {
   text-align: center;
   position: absolute;
   left: 45%;
   bottom: 0%;
}
.owl-dots button.owl-dot.active span, 
.owl-dots button.owl-dot:hover span {
 background-color: #008300;
 border-radius: 50%;
 height: 11px;
 width: 11px;
 position: absolute;
 top: 0px;
 left:0px;
}
.owl-dots button.owl-dot{
 border: 1px solid rgb(0, 117, 20)!important;
 background: none;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  position: relative;
  margin: 3px;
}









 .searchbox2{
   width: 100%;
   margin: 15px 0px;
   max-width: 97vw;
   position: relative;
}
 .slidersection{
   width: 100%;
   margin: 0 auto;
   margin-bottom: -20px!important;
   padding-bottom: 0px!important;
   position: relative;
   
   background-image: url("../public/images/BG.png");
   background-repeat: no-repeat;
   background-size: cover;
 }


 .img1{
    transform: rotate(322deg);
    margin-top: -20%;
    margin-left: -36%;
    height: 35vw!important;
    width: 40vw!important;
    max-width: none;
 } 
.img2{
   transform: rotate(322deg);
   margin-top: -22%;
   margin-left: -18%;
   width: 14vw!important;
   height: 15vw!important;
   max-width:none;
}
 .box{
    transform: rotate(42deg);
    width: 24vw;
    height: 24vw;
    overflow: hidden;
 }
 .box2{
   transform: rotate(42deg);
   width: 10vw;
   height: 10vw;
   overflow: hidden;
}
.box3{
   transform: rotate(42deg);
   width: 8vw;
   height: 8vw;
   overflow: hidden;
   background-color: #046900;
}
.box4{
   transform: rotate(42deg);
   width: 8vw;
   height: 8vw;
   overflow: hidden;
   border: 4px solid rgba(26, 110, 0, 0.705);
}
.box5{
   transform: rotate(42deg);
   width: 2vw;
   height: 2vw;
   overflow: hidden;
   background-color: #046900;
}

.bounce-1 {
   position: absolute;
   top: 15%;
   right: 0%;
   animation-duration: 8s;
   animation-iteration-count: infinite;
   animation-name: bounce-3;
   animation-timing-function: linear;
   z-index: 1;
}
.bounce-2 {
   position: absolute;
   top: 50%;
   right: 30%;
   animation-duration: 7s;
   animation-iteration-count: infinite;
   animation-name: bounce-1;
   animation-timing-function: linear;
   z-index: 1;
}
.bounce-3 {
   position: absolute;
   top: 65%;
   right: 14%;
   animation-duration: 8s;
   animation-iteration-count: infinite;
   animation-name: bounce-1;
   animation-timing-function: linear;
   z-index: 1;
}
.bounce-4 {
   position: absolute;
   top: 55%;
   right: 25%;
   animation-duration: 8s;
   animation-iteration-count: infinite;
   animation-name: bounce-3;
   animation-timing-function: linear;
   z-index: 0;
}
.bounce-5 {
   position: absolute;
   top: 15%;
   right: 34.5%;
   animation-duration: 7s;
   animation-iteration-count: infinite;
   animation-name: bounce-4;
   animation-timing-function: linear;
   z-index: 0;
}

@keyframes bounce-1 {
   0%   { transform: translateY(0); }
   50%  { transform: translateY(-30px); }
   100% { transform: translateY(0); }
}
@keyframes bounce-2 {
   0%   { transform: translateX(0); }
   50%  { transform: translateX(-50px); }
   100% { transform: translateX(0); }
}
@keyframes bounce-3 {
   0%   { transform: translateX(0); }
   50%  { transform: translateX(30px); }
   100% { transform: translateX(0); }
}

@keyframes bounce-4 {
   0%   { transform: translateY(0); }
   50%  { transform: translateY(40px); }
   100% { transform: translateY(0); }
}




 .search_main{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   height: 70vh;
 }
 .search_section{
   padding: 50px;
   z-index: 3;
   width: 40%;
 }

.searchbox2 input{
   width: 100%;
   padding: 5px;
   border-radius: 3px;
   border: 1px solid rgb(190, 190, 190);
}
.search_btn{
   display: flex;
}
.search_btn button,.button{
   padding: 8px 15px 8px 15px;

   background-color: #348739;
   border-radius: 5px;
}
.search_btn button:first-child{
   margin-right: 20px;
}

 

.accodion{
   width: 95%;
   margin: 0 auto;
   text-align: center;
   
}

.accodion ul{
   width: 80%;
   margin: 0 auto;
   text-align: center;
}

.accodion ul li{
   display: inline-block;
   padding: 10px 40px;
   text-align: center;
}



.acdionlist{
   padding: 0px 0px;
   overflow-y: auto;
   height: 270px;
}

.acdionlist2 {
   padding: 3px 10px 0px 0px;
   text-align: left;
}
.bg-gray-900{
   background-color: rgb(17 24 39);
   opacity: 0.2;
}


@media (max-width: 1040px) {
   .slidersection{
      /* height: auto!important; */
      margin-bottom: 0;
      padding-bottom: 0px!important;
      margin-bottom: 0px!important;
    
  }
  .search_section{

   width: 70%;
 }
 
}


@media (max-width: 1024px) {
   .gridbox {
     padding: 10px;
   }

    .toggle_bar ul{
        width: 98%;
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
    }
    .toggle_bar ul li{
        display: inline-block;
        padding: 4px 10px;
        text-align: center;
    }
      
   .nav-logo{
      margin-left: 24px;
    }
    .con_carosel{
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
   }



   .search_main{
      height: 46vh!important;
    }


 }


 @media (max-width: 1050px) {
   .hidden{
      display: none;
   }
   .owl_hidden_img{
    display: none!important;
  }

   .owl-carousel .owl-prev{
    top: 40%;
    left: -30px;
  }
  .owl-carousel .owl-next{
    top: 40%;
    right: -30px;
  }

 }

 @media (max-width: 900px) {
  .theme_h1,.theme_h1_green{
    font-size: 20px;
    line-height: 30px;
  }
  .theme_h2{
    font-size: 16px;
  }
  .about_h1_green,.about_h2{
    font-size: 20px;
    line-height: 30px;
  }

  
 }

@media (max-width: 700px) {

  .accgridbox{
    width:98%;
    margin:0 auto;
    display: flex;
 }

  .logoimg img{
    margin-top: 10px;
    width: 100px;
  }

   .acdionlist,.acdionlist2{
      padding: 0px 1px;
   }
   .owl-dots {
      left: 50%;
  }
  .owl-dots button.owl-dot.active span, 
  .owl-dots button.owl-dot:hover span {
        height: 7px;
        width: 7px;
   }
   .owl-dots button.owl-dot{
       height: 8px;
       width: 8px;
     }
     .owl-dots {
      bottom: 10%;
  }
   .contackform {
       width: 98%;
   }
   
.inputbox {
   display: flex;
   width: 100%;
   margin: 0px;
   justify-content: space-between;
   font-weight: bold;
   color: rgb(26, 25, 25);
   flex-wrap: wrap;
   flex-direction: column;
}
.submitbtn{
text-align: left;
margin: 10px;
margin-left: 0px;
}
.validation{
   text-align: left;
}

.title2,.title2 h4{
   font-size: 10px;
}

.box-container{
   justify-content: center;
}

.gridbox{
   width: 48%;
}
.gridbox h6{
   font-size: medium;
}
.gridfoter{
   margin-top: 10px;
}
.searchbox{
   width: 97%;
   margin:0 auto ;
   max-width: 97vw;
}
.con_carosel{
   width: 98%;
   margin: 0 auto;
   margin-top: 10px;
   margin-bottom: 10px;
}

.owl-carousel .owl-prev{
  top: 40%;
  left: 0px;
}
.owl-carousel .owl-next{
  top: 40%;
  right: 0px;
}
.owl-carousel .owl-prev,.owl-carousel .owl-next{
  line-height: 25px!important;
}

.con_carosel .owl-carousel .owl-prev span,.con_carosel .owl-carousel .owl-next span{
  width: 30px;
  height: 30px;
}




.search_section{
   padding: 30px;
}

.search_main{
   height: 35vh!important;
 }
 .searchbox2 {
   margin: 15px 0px;
}
.left_grid{
   display: none;
}
.accodion{
   width: 100%;
   text-align: center;
   margin:0 auto;
}


}


@media (max-width: 550px) {
   .search_btn button{
      padding: 1px 15px 1px 15px;
   }
   .searchbox2 input {
      padding: 1px 15px 1px 15px;
  }
   .owl-dots {
      margin-top: -60px!important;
   }
   .owl-dots {
      left: 38%;
  }
}


@media (max-width: 450px) {



   .contackform {
      padding: 5px;
   }
   .inputbox input,.inputbox textarea{
       width: 92%;
    
   }
   .inputbox{
       margin: 0;
   }
   .submitbtn{
       margin: 0;
       margin-top: 5px;
       }
       .box-container{
           justify-content: center;
       }
       .gridbox{
           width: 98%;
       }
       
     .con_carosel{
      width: 98%;
      margin: 0 auto;
      margin-top: 5px;
      margin-bottom: 5px;
   }
   .con_carosel .item{

      padding: 10% 20%;
      width: 100%;
      }
      .search_section{

         width: 100%;
       }
   
}

@media (max-width: 350px) {

  .theme_h1,.theme_h1_green{
    font-size: 17px;
    line-height: 30px;
  }
  .theme_h2{
    font-size: 14px;
  }
  .about_h1_green,.about_h2{
    font-size: 17px;
    line-height: 30px;
  }



  

   .filterimage{
      width: 100%;
   }
   .filterimage img{
      width: 100%;
      height: auto;
   }
.search_section{
   padding: 5px;
}
}

@media (max-width: 300px) {
   .search_btn {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: column;
  }
  .search_btn button{
   margin-top: 4px;
  }
  .search_main{
   height: 30vh!important;
 }
 .search_btn button:first-child {
   margin-right: 0px;
}
  
}











/* nav bar */
.nav-menu{
   color: #121212;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
}

/* .nav-logo{
   margin-top: -40px;
   margin-left: 80px;
} */

.text-size{
   color: #121212;
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
}

.nav-social-icon{
   display: flex;
   flex: auto !important;
   justify-content: end;
   margin-right: 23px;
   margin-top: 10px;
}

.social-icon-text{
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
   margin-top: 2px;
   margin-left: -8px;
}


.fa-twitter{
   color: #03A9F4;
   font-size: 18px;
}
.fa-youtube{
   color: #F44336;
   font-size: 18px;
}
.fa-square-instagram{
   background: #d6249f;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   font-size: 18px;
}
.fa-square-facebook{
   color: #1976D2;
   font-size: 18px;
}

.nav-top-icon{
   margin-right: 16px;
   margin-left: -3px;
}

.second-nav{
   padding-top: 12px;
   padding-bottom: 7px;
}

.top-text{
   padding-right: 11px;
   padding-top: 5px;
   margin-top: -4px;
}

.bangla-english{

   background: #FFFFFF;
   border-top: 0.5px solid #0094E7;
   border-bottom: 0.5px solid #0094E7 ;
   border-left: 0.5px solid #0094E7;
   padding-left: 10px;
   border-bottom-left-radius: 15px;
   border-top-left-radius: 15px;
}

.english-bangla{
   background: #FFFFFF;
   border-top: 0.5px solid #0094E7;
   border-bottom: 0.5px solid #0094E7 ;
   border-right: 0.5px solid #0094E7;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   padding-left: 10px;
}

.bangla{
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 20px;
   height: 23px !important;
}
.english{
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 20px;
   /* height: 23px !important; */
}

.tactive{
   background-color: #348739!important;
   color: #FFFFFF!important;
}
.active{
   color: #348739!important;
}

.nav-button{
   margin-top: -5px;
   padding: 5px 20px;
}



/* //home page */
.carosol{
   background-image: url('../public/images/image10.png');
   width: auto;
   height: 27.125em;
}























/*
! tailwindcss v3.2.7 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container {
  width: 100%;
}

@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-\[-14px\] {
  left: -14px;
}

.left-\[-40px\] {
  left: -40px;
}

.left-\[100px\] {
  left: 100px;
}

.top-\[-40px\] {
  top: -40px;
}

.top-\[120px\] {
  top: 120px;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-3 {
  height: 0.75rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-\[194px\] {
  height: 194px;
}

.h-\[259px\] {
  height: 259px;
}

.w-3 {
  width: 0.75rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-\[216px\] {
  width: 216px;
}

.w-\[288px\] {
  width: 288px;
}

.w-full {
  width: 100%;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-5 {
  gap: 1.25rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-bl-lg {
  border-bottom-left-radius: 0.5rem;
}

.rounded-tr-lg {
  border-top-right-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-solid {
  border-style: solid;
}

.border-PrimaryColor {
  --tw-border-opacity: 1;
  border-color: rgb(52 135 57 / var(--tw-border-opacity));
}

.border-\[\#DFDFDF\] {
  --tw-border-opacity: 1;
  border-color: rgb(223 223 223 / var(--tw-border-opacity));
}

.bg-PrimaryColor {
  --tw-bg-opacity: 1;
  background-color: rgb(52 135 57 / var(--tw-bg-opacity));
}

.bg-\[\#E4F8FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(228 248 255 / var(--tw-bg-opacity));
}

.bg-\[\#EAF7FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(234 247 255 / var(--tw-bg-opacity));
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-\[6px\] {
  padding-left: 6px;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[14px\] {
  padding-top: 14px;
}

.pt-\[6px\] {
  padding-top: 6px;
}

.text-center {
  text-align: center;
}

.font-NotoSansBengali {
  font-family: Noto Sans Bengali;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-paragrapSize {
  font-size: 16px;
}

.text-semiTitleSize {
  font-size: 20px;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-titleSize {
  font-size: 24px;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-\[48px\] {
  line-height: 48px;
}

.tracking-\[5\%\] {
  letter-spacing: 5%;
}

.text-PrimaryColor {
  --tw-text-opacity: 1;
  color: rgb(52 135 57 / var(--tw-text-opacity));
}

.text-\[\#4EC200\] {
  --tw-text-opacity: 1;
  color: rgb(78 194 0 / var(--tw-text-opacity));
}

.text-\[\#828282\] {
  --tw-text-opacity: 1;
  color: rgb(130 130 130 / var(--tw-text-opacity));
}

.text-\[\#FFC700\] {
  --tw-text-opacity: 1;
  color: rgb(255 199 0 / var(--tw-text-opacity));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark) {
  .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }

  .dark\:text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }

  .dark\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}

@media (min-width: 425px) {
  .mobileL\:pt-8 {
    padding-top: 2rem;
  }
}

@media (min-width: 768px) {
  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .md\:mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:ml-9 {
    margin-left: 2.25rem;
  }

  .md\:mt-7 {
    margin-top: 1.75rem;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:h-5 {
    height: 1.25rem;
  }

  .md\:h-\[290px\] {
    height: 290px;
  }

  .md\:w-5 {
    width: 1.25rem;
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .md\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .md\:pb-0 {
    padding-bottom: 0px;
  }

  .md\:pb-\[78px\] {
    padding-bottom: 78px;
  }

  .md\:pl-12 {
    padding-left: 3rem;
  }

  .md\:pl-4 {
    padding-left: 1rem;
  }

  .md\:pl-\[334px\] {
    padding-left: 334px;
  }

  .md\:pl-\[72px\] {
    padding-left: 72px;
  }

  .md\:pr-\[62px\] {
    padding-right: 62px;
  }

  .md\:pt-7 {
    padding-top: 1.75rem;
  }

  .md\:text-\[36px\] {
    font-size: 36px;
  }

  .md\:text-titleSize {
    font-size: 24px;
  }
}